<form action="/items" method="post">
  <label for="name">Item Name</label>
  <input id="name" name="name" type="text">
  
  <label for="description">Item Description</label>
  <input id="description" name="description" type="text">
  
  <label for="price">Item Price</label>
  <input id="price" name="price" type="text">
  
  <label for="weight">Item Weight</label>
  <input id="weight" name="weight" type="text">
  
  <label for="owned">Already Owned? ['Y' for yes, 'N' for no]</label>
  <input id="owned" name="owned" type="text">
  
  <button type="submit">Submit</button>
</form>